<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue@2"></script>
  </head>
  <body>
    <div id="app">{{ message }}</div>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
      <p>Enter your favourite colour:</p>
      <input v-model="message" />
    </div>
    <div id="app-7">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
    <div id="app8">
      <p>{{ foo }}</p>
      <button v-on:click="foo = 'baz'">Change it</button>
    </div>
    <div id="example">
      <p>Hello</p>
    </div>
    <div id="html">
      <p>I said {{msg}}</p>
      <p v-bind:id="dynamicId">Using mustaches: {{ rawHtml }}</p>
      <p>Using v-html directive: <span v-html="rawHtml"></span></p>
      <p v-if="dynamicId">Now you see me</p>
      <button v-on:click="changeId">Increase id number</button>
    </div>
    <div id="computedPropertyExample">
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
      <p>Message:{{message2}}</p>
      <p>Method reversed message: "{{reverseMessage()}}"</p>
    </div>
    <div id="demo">{{fullName}}</div>
    <div id="watch-example">
      <p>
        Ask a yes/no question:
        <input v-model="question" />
      </p>
      <p>{{ answer }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
        },
      });
      const app2 = new Vue({
        el: "#app-2",
        data: {
          message: "You loaded this page on " + new Date().toLocaleString(),
        },
      });
      const app3 = new Vue({
        el: "#app-3",
        data: {
          seen: false,
        },
      });
      const app4 = new Vue({
        el: "#app-4",
        data: {
          todos: [
            { text: "Learn JavaScript" },
            { text: "Learn Vue" },
            { text: "Build something awesome" },
          ],
        },
      });
      app4.todos.push({ text: "Eat potatoes" });
      const app5 = new Vue({
        el: "#app-5",
        data: {
          message: "Hello Vue.js!",
        },
        methods: {
          reverseMessage: function () {
            this.message = this.message.split("").reverse().join("");
          },
        },
      });
      const app6 = new Vue({
        el: "#app-6",
        data: {
          message: "Red!",
        },
      });
      Vue.component("todo-item", {
        props: ["todo"],
        template: "<li>{{todo.text}}</li>",
      });
      const app7 = new Vue({
        el: "#app-7",
        data: {
          groceryList: [
            { id: 0, text: "Apples" },
            { id: 1, text: "Pears" },
            { id: 2, text: "Bananas" },
          ],
        },
      });
      const data = { a: 1 };
      const vm = new Vue({
        el: "#example",
        data: data,
      });
      const obj = {
        foo: "bar",
      };
      Object.freeze(obj);
      new Vue({
        el: "#app8",
        data: obj,
      });
      vm.$watch("a", function (newValue, oldValue) {
        console.log(newValue);
      });
      vm.a = "b";
      new Vue({
        data: {
          a: 1,
        },
        beforeCreate() {
          console.log("beforeCreate", this.a);
        },
        created() {
          console.log("created", this.a);
        },
        beforeMount() {
          console.log("a is: " + this.a);
        },
        mounted() {
          console.log("mounted" + this.a, "hello");
        },
        beforeDestroy() {
          console.log("beforeDestroy - turn off listeners", this.a);
        },
        destroyed() {
          console.log("destroyed", this.a);
        },
      });
      const msgObj = {
        msg: "Hello",
        rawHtml: "<span style='color:red'>This should be red.</span>",
        dynamicId: 10 + 2,
      };

      new Vue({
        el: "#html",
        data: msgObj,
        methods: {
          changeId() {
            this.dynamicId++;
          },
        },
      });
      const computed = new Vue({
        el: "#computedPropertyExample",
        data: {
          message: "Hello",
          message2: "Cheese",
        },
        computed: {
          // a computed getter
          reversedMessage() {
            // `this` points to the computed instance
            return this.message.split("").reverse().join("");
          },
        },
        methods: {
          reverseMessage() {
            return this.message2.split("").reverse().join("");
          },
        },
      });
      computed.message = "Goodbye";
      const demo = new Vue({
        el: "#demo",
        data: {
          firstName: "Foo",
          lastName: "Bar",
        },
        computed: {
          fullName: {
            // getter
            get: function () {
              return this.firstName + " " + this.lastName;
            },
            // setter
            set: function (newValue) {
              var names = newValue.split(" ");
              this.firstName = names[0];
              this.lastName = names[names.length - 1];
            },
          },
        },
      });
      demo.fullName = "Alex Perez";

      var watchExampleVM = new Vue({
        el: "#watch-example",
        data: {
          question: "",
          answer: "I cannot give you an answer until you ask a question!",
        },
        watch: {
          // whenever question changes, this function will run
          question: function (newQuestion, oldQuestion) {
            this.answer = "Waiting for you to stop typing...";
            this.debouncedGetAnswer();
          },
        },
        created: function () {
          // _.debounce is a function provided by lodash to limit how
          // often a particularly expensive operation can be run.
          // In this case, we want to limit how often we access
          // yesno.wtf/api, waiting until the user has completely
          // finished typing before making the ajax request. To learn
          // more about the _.debounce function (and its cousin
          // _.throttle), visit: https://lodash.com/docs#debounce
          this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);
        },
        methods: {
          getAnswer: function () {
            if (this.question.indexOf("?") === -1) {
              this.answer = "Questions usually contain a question mark. ;-)";
              return;
            }
            this.answer = "Thinking...";
            var vm = this;
            axios
              .get("https://yesno.wtf/api")
              .then(function (response) {
                console.log(response);
                vm.answer = _.capitalize(response.data.answer);
              })
              .catch(function (error) {
                vm.answer = "Error! Could not reach the API. " + error;
              });
          },
        },
      });
    </script>
  </body>
</html>
